src/main/mule/chaitanya-implementaion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="chaitanya-implementaionFlow" doc:id="d00e8ecf-2868-4920-85a3-080c43d5b18e" >
		<http:listener doc:name="Listener" doc:id="8b320336-7605-478c-a8e8-e150c9ef4dc9" config-ref="HTTP_Listener_config" path="/chaitanya"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a7a2e2b7-e6c5-409a-a27a-e421e2ace175" />
		<logger level="INFO" doc:name="Logger" doc:id="5f5be34a-7c8d-42b6-83c7-df7d6516db14" />
		<ee:transform doc:name="Transform Message" doc:id="f73f461a-7335-4fd4-bb10-8989672a7824" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Message" : "Added with 4.3 runtime"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
