src/main/mule/test-git.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="test-gitFlow" doc:id="a12a537d-5b1a-4b00-b3c7-0f95a7e67d34" >
		<http:listener doc:name="Listener" doc:id="92844514-0ac7-4d5f-878b-adf7d59a29de" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="ec323301-1b97-4652-91e2-9fb2d44213f9" />
	</flow>
</mule>
